* { box-sizing: border-box}
html, body, div, iframe, h1, h2, h3, h4, h5, h6, p, pre,
img, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, figure, figcaption, footer, header,  
main, menu, nav, section, summary, time {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body { line-height: 1 }
ul, menu { list-style: none }
table { border-collapse: collapse }
a { 
	text-decoration: none; 
	color: inherit;
}
