body {
    font-family: "Inter", sans-serif;
}

:root {
    --mavi: #1b63ed;
}

.container {
    padding: 0 16px;
}

/* NAVBAR */

nav {
    padding: 20px;
}

nav img {
    width: 53px;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .phoneul {
    align-items: center;
    display: flex;
    font-family: Inter;
    font-size: .8em;
}

nav .phoneul li {
    padding: 3px 10px;
    font-weight: 600;
    color: #7a7d82;
    border-right: 1px solid #7a7d825f;
}

nav .phoneul li:nth-child(4) {
    padding-right: 0;
    font-size: 1.3em;
    color: #000;
    border-right: none;
}

.compul {
    display: none;
}

.phoneul li:nth-child(1),
.phoneul li:nth-child(5) {
    display: none;
}

/* ______________________ */

/* MAIN */
/* MAIN 1 */

#main1 {
    background-color: #f0f0f0;
}


/* CARD */
#maincard {
    background-color: var(--mavi);
    padding: 20px;
}

.cardimg {
    text-align: end;
}

#maincard img {
    max-height: 146px;
    height: 100%;
    max-width: 100%;
}

#maincard .cardtext {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#maincard .cardtext p:nth-child(1) {
    display: inline-block;
    align-self: flex-start;
    color: #fff;
    font-family: Inter;
    font-size: .875em;
    font-weight: 500;
    padding: 4px 8px;
    border-radius: 6px;
    background-color: #FFFFFF29;
}

#maincard .cardtext p:nth-child(2) {
    color: #fff;
    font-family: Inter;
    font-size: 1.5em;
    font-weight: 500;
}

#maincard .cardtext p:nth-child(3) {
    color: #fff;
    font-family: Inter;
    font-size: 1em;
    font-weight: 400;
}

#maincard .cardtext button {
    padding: 11px 19px;
    align-self: flex-start;
    border-radius: 12px;
    border: none;
    color: #0A0B0D;
    font-family: Inter;
    font-size: 1em;
    font-weight: 500;
}


.card img {
    max-height: 107px;
    max-width: 100%;

}

.cards {
    display: flex;
    overflow-x: auto;
    scrollbar-width: thin;
}

.card1 {
    border-radius: 20px;
}

.card {
    border-radius: 20px;
}

.cardsall {
    padding-top: 16px;
    padding-bottom: 32px;
}


.cards {
    display: flex;
    overflow-x: auto;
    scrollbar-width: thin;
    padding-right: 24px;
    gap: 16px;
    margin-top: 24px;
}

.card {
    flex: 0 0 250px;
    padding: 20px 12px;
    background-color: #fff;
    height: 200px;
}

.cards .card .cardtext {
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.cards .card .cardtext h3 {
    font-size: 1.125em;
    font-weight: 500;
}

.cards .card .cardtext p {
    font-size: .875em;
    font-weight: 400;
    color: #484A4F;
}

/* _______________________ */


.suretlikecidler {
    padding-top: 32px;
    padding-bottom: 94px;
    text-align: center;
}

.suretlikecidler>p {
    font-size: 1.125em;
    font-weight: 500;
    font-family: Inter;
    color: #7A7D82;
}

.suretlikecidler .skdiv {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 110px;
    margin-top: 16px;
}

.suretlikecidler .skdiv img {
    max-height: 70px;
    height: 100%;
    max-width: 100%;
}

.suretlikecidler .skdiv p {
    font-size: 0.875em;
    font-weight: 500;
    color: #484a4f;
}

.skdiv {
    display: flex;
}


.main2 {
    background-color: #fff;
    border-radius: 30px;
    margin-top: -30px;
    padding-top: 32px;
}


.main2 .flexcol .flexrow:nth-child(1) {
    font-size: 2em;
    font-weight: 500;
}


.main2 .flexcol .flexrow:nth-child(2) {
    font-size: 2em;
    font-weight: 500;
}

.main2 .flexcol {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.main2 .flexcol .flex {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.main2 .flexcol .flex .flexcol {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.main2 .flexcol .flex .flexcol p:first-child {
    font-size: 1.125em;
    font-weight: 500;
    color: #0A0B0D;
}

.main2 .flexcol .flex .flexcol p:nth-child(2) {
    color: #484A4F;
    font-size: .875em;
    font-weight: 400;
}


.main2 .flexcol .flexrow:nth-child(1) img {
    width: 43px;
    height: 27px;
    max-width: 100%;
}

.main2 .flexcol .flexrow:nth-child(6) img {
    height: 100%;
    max-width: 70%;
}

.main2 .flexcol .flexrow button {
    background-color: var(--mavi);
    border-radius: 12px;
    border: none;
    color: #fff;
    font-size: 1em;
    font-weight: 500;
    height: 3rem;
    padding: 11px 19px;
}

.main2 .flexcol .flexrow:nth-child(5) {
    font-size: .75em;
    font-weight: 400;
    color: #7A7D82;
}

#main3 .container .flexrow {
    display: flex;
    flex-direction: column;
}

#main3 .container {
    padding: 32px;
    padding-bottom: 52px;
    display: flex;
    gap: 24px;
    flex-direction: column;
}

#main3 .container>.flexrow:nth-child(1) {
    display: flex;
    gap: 12px;
    text-align: center;
}

#main3 .container>.flexrow:nth-child(1)>.flexrow:nth-child(1) p {
    font-size: 1.5em;
    font-weight: 500;
    color: #0A0B0D;
}

.spangradient {
    background: linear-gradient(90deg, #1b63ed, #3e79e6, #d5d1d1);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

#main3 .container>.flexrow:nth-child(1)>.flexrow:nth-child(2) p {
    font-size: 1em;
    font-weight: 400;
    color: #484A4F;
}

#main3 .container>.flexrow:nth-child(2)>.flexrow:nth-child(1) {
    gap: 16px;
}

#main3 .container>.flexrow:nth-child(2)>.flexrow:nth-child(1) input {
    border: 1px solid #ececec;
    border-radius: 10px;
    padding-top: 24px;
    padding-bottom: 8px;
    outline: none;
}

#main3 .container>.flexrow:nth-child(2)>.flexrow:nth-child(2)>.flexrow:nth-child(1) {
    display: flex;
    gap: 8px;
    flex-direction: row;
}

#main3 .container>.flexrow:nth-child(2)>.flexrow:nth-child(2) input {
    border-color: #0A0B0D29;
    border-width: 2px;
    border-radius: 6px;
}

#main3 .container>.flexrow:nth-child(2)>.flexrow:nth-child(2) p {
    font-size: 0.75em;
    font-weight: 400;
    color: #7A7D82;
}

#main3 .container>.flexrow:nth-child(2)>.flexrow:nth-child(2) {
    display: flex;
    margin-top: 20px;
    gap: 16px;
    flex-direction: column;
}

#main3 .container>.flexrow:nth-child(2)>.flexrow:nth-child(2) button {
    background-color: #ececec;
    border: none;
    border-radius: 12px;
    width: 100%;
    height: 3.5rem;
}

#main3 .container>.flexrow:nth-child(2)>.flexrow:nth-child(2)>.flexrow:nth-child(1)>.flexcol:nth-child(2) a {
    text-decoration: underline;
    color: var(--mavi);
}



/* MAIN 4 */

#main4 {
    background: linear-gradient(90deg, #24282f, #262a31, #2e323a, #333740, #2e323a, #262a31, #24282f);
}

#main4 {
    border-radius: 30px 30px 0 0;
}

#main4 .container {
    padding: 0 20px;
}

#main4 .container>.flexrow {
    display: flex;
    gap: 32px;
    flex-direction: column;
}

#main4 .container>.flexrow>.flexrow:nth-child(1) {
    text-align: center;
    display: flex;
    padding-top: 32px;
    gap: 20px;
    align-items: center;
    flex-direction: column;
}

#main4 .container>.flexrow>.flexrow:nth-child(1)>.flexrow {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#main4 .container>.flexrow>.flexrow:nth-child(1) a {
    padding: 11px 15px;
    background-color: #fff;
    border-width: 1px;
    border-radius: 12px;
}

#main4 .container>.flexrow>.flexrow:nth-child(1)>.flexrow:nth-child(1)>.flexrow:nth-child(1) {
    font-size: 2em;
    font-weight: 500;
    color: #fff;
    letter-spacing: .025em;

}

#main4 .container>.flexrow>.flexrow:nth-child(1)>.flexrow:nth-child(1)>.flexrow:nth-child(2) {
    font-size: .875em;
    font-weight: 400;
    color: #ffffffB8;
    letter-spacing: 0;
    line-height: 20px;
}


#main4 img {
    height: 100%;
    width: 70%;
}

.card2 img {
    max-height: 160px;
    height: 100%;
}

.cards2 {
    display: flex;
    overflow-x: auto;
    scrollbar-width: thin;
    padding: 0 16px;
    margin-top: 24px;
}

#main51 {
    padding: 32px 0;
}

#main51 .flexrow:nth-child(1)>p {
    color: #0A0B0D;
    font-size: 1.5em;
    font-weight: 500;
}

.card2 {
    flex: 0 0 280px;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #f0f0f0;
}

.cardtext2 {
    text-align: center;
    font-size: .875em;
    font-weight: 400;
    line-height: 20px;
    color: #484A4F;
    margin-bottom: 15px;
}

.cardtext2 h3 {
    font-size: 1.125em;
    min-height: 56px;
    font-size: 1.125em;
    font-weight: 500;
    line-height: 28px;
    color: #000;
    margin-bottom: 10px;
}

.cardimg2 {
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 160px;
    overflow: hidden;
}

.cardimg2 img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.cards2 {
    display: flex;
    gap: 16px;
    padding: 20px 0;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.main52>.flexrow {
    display: flex;
    flex-direction: column;
    padding: 40px 0;
}

.main52>.flexrow>.flexrow {
    display: flex;
    justify-content: center;
}

.main52>.flexrow>.flexrow:nth-child(1) {
    color: #0A0B0D;
    font-size: 1.5em;
    font-weight: 500;
}

.main52>.flexrow>.flexrow:nth-child(2) {
    gap: 6px;
    margin: 20px 0;
}

.main52>.flexrow>.flexrow:nth-child(2) .flexrow p {
    color: #7a7d82;
    padding: 11px;
    border-radius: 10px;
    font-size: 0.875em;
    font-weight: 500;
    cursor: pointer;
}

.main52>.flexrow>.flexrow:nth-child(2) .flexrow p:hover {
    background-color: rgb(10, 11, 13);
    color: #fff;
}

.main53>.flexrow {
    max-width: 100%;
}

.main53>.flexrow .flexrow {
    display: flex;
}

.main53>.flexrow .label {
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
    align-items: center;
}

.main53>.flexrow .label .sol {
    color: #7A7D82;
    font-size: 0.875em;
    font-weight: 400;
}


.main53>.flexrow .label p {
    color: #000;
    font-size: 1em;
    font-weight: 500;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 100%;
}

input[type="range"]:focus {
    outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
    background-color: #0A0B0D14;
    border-radius: 0.5rem;
    height: 1.25rem;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    margin-top: 0px;
    background-color: var(--mavi);
    border-radius: rem;
    height: 1.25rem;
    width: 0.5rem;
}

input[type="range"]:focus::-webkit-slider-thumb {
    outline: 3px solid var(--mavi);
    outline-offset: 0.125rem;
}

input[type="range"]::-moz-range-track {
    background-color: #0A0B0D14;
    border-radius: 0.5rem;
    height: 1.25rem;
}

input[type="range"]::-moz-range-thumb {
    background-color: var(--mavi);
    border: none;
    border-radius: rem;
    height: 1.25rem;
    width: 0.5rem;
}

input[type="range"]:focus::-moz-range-thumb {
    outline: 3px solid var(--mavi);
    outline-offset: 0.125rem;
}

.main53>.flexrow .label2 {
    display: flex;
    justify-content: space-between;
    padding-top: 4px;
    align-items: center;
}

.main53>.flexrow .label2 p {
    color: #7A7D82;
    font-size: 0.875em;
    font-weight: 400;
}

.main53>.flexrow:nth-child(2)>.flexrow {
    margin: 32px 0;
    display: flex;
    flex-direction: column;
}

.main53>.flexrow:nth-child(2)>.flexrow {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: var(--mavi);
    border-radius: 24px;
    text-align: center;
}

.main53>.flexrow:nth-child(2)>.flexrow {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.main53>.flexrow:nth-child(2) .flexrow p {
    color: #fff;
}

.main53>.flexrow:nth-child(2)>.flexrow p:nth-child(1) {
    font-size: 1em;
    font-weight: 400;
}

.main53>.flexrow:nth-child(2)>.flexrow p:nth-child(2) {
    font-size: 2em;
    font-weight: 500;
    letter-spacing: .025em;
}

.main53>.flexrow:nth-child(2) a {
    margin-top: 32px;
    color: #000;
    padding: 16px 24px;
    background-color: #fff;
    border-radius: 12px;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3.5rem;
    font-weight: 500;
}

.main53>.flexrow:nth-child(2)>p {
    color: #484a4f;
    margin: 0 auto;
    margin-top: 16px;
    text-align: center;
    font-size: .875em;
    font-weight: 400;

}

.main54>.flexrow {
    display: flex;
    flex-direction: column;
    padding: 32px 0;
    gap: 12px;
}

.main54>.flexrow>.flexrow:nth-child(1) {
    gap: 20px;
    padding: 20px;
    background-color: #000;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    color: #fff;
}

.main54>.flexrow>.flexrow:nth-child(1)>.flexrow:nth-child(1) {
    gap: 16px;
    display: flex;
    flex-direction: column;
}

.main54>.flexrow>.flexrow:nth-child(1)>.flexrow:nth-child(1)>.flexrow:nth-child(1) {
    gap: 6px;
    display: flex;
    flex-direction: column;
}

.main54>.flexrow>.flexrow:nth-child(1)>.flexrow:nth-child(1)>.flexrow:nth-child(2) {
    display: flex;
    flex-direction: column;
    padding-top: 16px;
    border-color: #FFFFFF3D;
    border-top-width: 1px;
    gap: 12px;
}


.valyuta-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px 12px;
}

.main54>.flexrow>.flexrow:nth-child(1)>.flexrow:nth-child(1)>.flexrow:nth-child(1)>.flexrow:nth-child(1) {
    font-size: 1.5em;
    font-weight: 500;

}

.main54>.flexrow>.flexrow:nth-child(1)>.flexrow:nth-child(1)>.flexrow:nth-child(1)>.flexrow:nth-child(2),
.valyuta-grid .valyuta {
    color: #FFFFFFB8;
    font-size: .75em;
    font-weight: 400;
}

.p-16px {
    padding-top: 16px;
}

.valyuta-grid .v {
    font-size: 1.125em;
    font-weight: 500;
}

.main54>.flexrow>.flexrow:nth-child(1)>.flexrow:nth-child(2) {
    display: flex;
    justify-content: center;
    font-size: .875em;
    font-weight: 500;
    letter-spacing: 0;
}

.main54>.flexrow>.flexrow:nth-child(2)>.flexrow {
    gap: 24px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #0A0B0D0A;
    border-radius: 24px;
}

.main54>.flexrow>.flexrow:nth-child(2)>.flexrow:nth-child(1)>.flexrow:nth-child(1) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: flex-start;
}

.main54>.flexrow>.flexrow:nth-child(2)>.flexrow:nth-child(1)>.flexrow:nth-child(1)>p:nth-child(1) {
    color: #0a0b0d;
    font-size: 1.25em;
    font-weight: 500;
}

.main54>.flexrow>.flexrow:nth-child(2)>.flexrow:nth-child(1)>.flexrow:nth-child(2)>.flexrow {
    display: flex;
    position: relative;
    gap: 16px;
    flex-direction: column;
}

.main54>.flexrow>.flexrow:nth-child(2)>.flexrow:nth-child(1)>.flexrow:nth-child(2)>.flexrow:nth-child(1)>.flexrow:nth-child(1),
.main54>.flexrow>.flexrow:nth-child(2)>.flexrow:nth-child(1)>.flexrow:nth-child(2)>.flexrow:nth-child(1)>.flexrow:nth-child(3) {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    border: 1px solid #0A0B0D1F;
    border-radius: 12px;
    gap: 12px;
    height: 50px;
}

.main54>.flexrow>.flexrow:nth-child(2)>.flexrow:nth-child(1)>.flexrow:nth-child(2)>.flexrow:nth-child(1)>.flexrow:nth-child(1)>.flexrow:nth-child(1),
.main54>.flexrow>.flexrow:nth-child(2)>.flexrow:nth-child(1)>.flexrow:nth-child(2)>.flexrow:nth-child(1)>.flexrow:nth-child(3)>.flexrow:nth-child(1) {
    display: flex;
    padding-left: 16px;
    padding: 4px 0;
    flex-grow: 1;
    flex-shrink: 1;
}

.main54>.flexrow>.flexrow:nth-child(2)>.flexrow:nth-child(1)>.flexrow:nth-child(2)>.flexrow:nth-child(1)>.flexrow:nth-child(1)>.flexrow:nth-child(1) input,
.main54>.flexrow>.flexrow:nth-child(2)>.flexrow:nth-child(1)>.flexrow:nth-child(2)>.flexrow:nth-child(1)>.flexrow:nth-child(3)>.flexrow:nth-child(1) input {
    display: flex;
    flex-grow: 1;
    outline: none;
    color: #0A0B0D;
    font-size: 1em;
    font-weight: 400;
}

.main54 .flexrow .flexrow input {
    border: none !important;
    outline: none !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.main54>.flexrow>.flexrow:nth-child(2)>.flexrow:nth-child(1)>.flexrow:nth-child(2)>.flexrow:nth-child(1)>.flexrow:nth-child(1)>.flexrow:nth-child(2),
.main54>.flexrow>.flexrow:nth-child(2)>.flexrow:nth-child(1)>.flexrow:nth-child(2)>.flexrow:nth-child(1)>.flexrow:nth-child(3)>.flexrow:nth-child(2) {
    display: flex;
    padding-right: 20px;
    white-space: nowrap;
    gap: 8px;
    justify-content: flex-end;
    align-items: center;
    width: auto;
    height: 100%;
    cursor: pointer;
    text-transform: none;
}


.main54>.flexrow>.flexrow:nth-child(2)>.flexrow:nth-child(1)>.flexrow:nth-child(2)>.flexrow:nth-child(1)>.flexrow:nth-child(2) {
    position: absolute;
    width: 58px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 58px;
    background-color: var(--mavi);
    border: 4px solid #fff;
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main54>.flexrow>.flexrow:nth-child(2)>.flexrow:nth-child(1)>.flexrow:nth-child(2)>.flexrow:nth-child(1)>.flexrow:nth-child(2) i {
    font-size: 1em;
}

.main54>.flexrow img {
    width: 60px;
    height: 60px;
    max-width: 100%;
}

#main5 hr {
    background-color: #0A0B0D14;
}

#main6 {
    padding: 64px 0;
}

#main6 .container>p {
    color: #0A0B0D;
    text-align: center;
    font-size: 1.5em;
    font-weight: 500;
}

#main6 .grid-container {
    display: grid;
    margin: 24px 0;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
}

#main6 .item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #0A0B0D0A;
    border-radius: 24px;
    gap: 16px;
    width: 100%;
    padding: 15px;
}

#main6 .item1 {
    min-height: 150px;
    height: 100%;
    grid-area: 1/1/span 1/span 2;
}

#main6 .item2,
#main6 .item3 {
    min-height: 220px;
    height: 100%;
}

#main6 .item4,
#main6 .item5,
#main6 .item6,
#main6 .item7 {
    min-height: 150px;
    height: 100%;
}

#main6 i {
    color: var(--mavi);
    font-size: 2em;
}

#main6 p {
    color: #000;
    font-size: 1.125em;
    line-height: 28px;
    letter-spacing: 0;
    font-weight: 500;
}

#main7 {
    background-color: var(--mavi);
    border-radius: 30px 30px 0 0;
    margin-top: -30px;
}



#main7 .container>.flexrow.flexrow:nth-child(1)>.flexrow.flexrow:nth-child(2)>.flexrow.flexrow:nth-child(1) img,
#main7 .container>.flexrow.flexrow:nth-child(1)>.flexrow.flexrow:nth-child(2)>.flexrow.flexrow:nth-child(2) p {
    display: none;
}


#main7 .container>.flexrow.flexrow:nth-child(2) img {
    max-height: 350px;
    height: 100%;
    object-fit: contain;
}

#main7 .container>.flexrow:nth-child(1) {
    display: flex;
    flex-direction: column-reverse;
}

#main7 .container>.flexrow:nth-child(1)>.flexrow.flexrow:nth-child(1) {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#main7 .container>.flexrow:nth-child(1)>.flexrow.flexrow:nth-child(1)>.flexrow:nth-child(1) p {
    font-size: 2em;
    font-weight: 500;
    letter-spacing: .025em;
    text-align: center;
    color: #fff;
}

#main7 .container>.flexrow:nth-child(1)>.flexrow.flexrow:nth-child(1)>.flexrow:nth-child(2) p {
    color: #fff;
    font-size: 1em;
    letter-spacing: 0;
    text-align: center;
}

#main7 .container>.flexrow:nth-child(1) {
    display: flex;
    gap: 12px;
    padding-top: 32px;
    padding-bottom: 20px;
}

#main7 .container>.flexrow:nth-child(1)>.flexrow.flexrow:nth-child(2)>.flexrow.flexrow:nth-child(2) .flexrow {
    text-align: center;
}

#main7 .container>.flexrow:nth-child(1)>.flexrow.flexrow:nth-child(2)>.flexrow.flexrow:nth-child(2) .flexrow i {
    padding: 20px;
    padding-right: 35px;
    border-radius: 8px;
    background-color: #0A0B0D29;
    color: #fff;
}

#main8 {
    background-color: #F0F0F0;
}

#main8 .flexcol {
    display: flex;
    flex-direction: column;
}

#main8 .flexrow {
    display: flex;
    flex-direction: row;
}

#main8 .main81 img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    border-radius: 16px;
    object-fit: cover;
}

.main81 {
    padding: 32px 0;
}

.main81 .flexrow {
    justify-content: space-between;
    align-items: center;
}

.main81 .flexrow h3 {
    font-size: 1.5em;
    font-weight: 500;
}

.main81 .flexrow p {
    font-size: .875em;
    font-weight: 500;
    color: var(--mavi);
}

.main81>.flexcol {
    margin: 24px 0;
    gap: 20px;
}

.main81>.flexcol>.flexcol {
    gap: 16px;
    width: 100%;
}

.main81 h4 {
    color: #0A0B0D;
    font-size: 1.125em;
    font-weight: 500;
}

.tarix {
    color: #7A7D82;
    font-size: .875em;
    font-weight: 400;
}

.main81 .flexcol .flexcol .flexcol {
    gap: 6px;
}

.main81 .flexcol .flexcol:nth-child(3) * {
    display: none;
}

.main81 hr {
    width: 100%;
}


.main82 {
    padding: 32px 0;
}

.main82 h3 {
    font-size: 1.5em;
    text-align: center;
    font-weight: 500;
}

.main82>.flexcol {
    margin: 24px 0;
    gap: 12px;
}

.main82>.flexcol .flexrow {
    background-color: #fff;
    border-radius: 24px;
    gap: 8px;
}

.main82>.flexcol>.flexrow>.flexcol {
    padding-left: 20px !important;
    width: 100%;
    height: 100%;
    padding: 20px 0;
    gap: 8px;
    justify-content: space-between;
}


.main82 img {
    max-height: 100px;
    height: 100%;
}

.main82 p {
    margin: 8px 0;
}

.main82 button {
    color: #fff;
    background-color: var(--mavi);
    border-radius: 8px;
    margin: 20px 0;
    padding: 8px 16px;
    width: fit-content;
}

#main8 .flexcol .flexrow .flexcol:nth-child(2) {
    display: flex;
    height: 100%;
    align-items: flex-end;
    justify-content: flex-end;

}

#main9 {
    padding: 32px;
    background-color: #fff;
}

#main9 .flexrow {
    display: flex;
}

#main9 .flexcol {
    display: flex;
    flex-direction: column;
}

#main9 .container>.flexcol {
    gap: 24px;
    justify-content: center;
    ;
    align-items: center;
}

#main9 .container>.flexcol>.flexcol {
    gap: 12px;
    align-items: center;
}

#main9 .container>.flexcol>.flexrow {
    padding: 16px;
    background-color: #0A0B0D0A;
    border-radius: 16px;
    gap: 8px;
    width: fit-content;
}

#main9 h3 {
    font-size: 1.5em;
    font-weight: 500;
}

footer .flexcol {
    display: flex;
    flex-direction: column;
}

footer .flexrow {
    display: flex;
    flex-direction: row;
}

footer .logo {
    width: 89px;
}

.reklam img {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

footer {
    padding: 24px 0;
    background: radial-gradient(45.81% 111.02% at 57.47% 14.48%, #383C46 0, #24282F 100%);
}

footer .elaqeboz{
    color: #FFFFFFB8;
    font-size: 12px;
    font-weight: 400;
}

footer .elaqeag{
    margin: 8px 0;
    color: #fff;
    font-size: .8em;
    line-height: 20px;
    font-weight: 500;
}

footer hr{
    width: 100%;
}

footer .qutu{
    background-color: #0A0B0D29;
    border-radius: 24px;
    justify-content: space-between;
}

.iconpadding{
    padding: 10px 30px;
    background-color: #0A0B0D29;
    border-radius: 8px;
}

footer .qutu .flexcol{
    font-size: 1em;
    padding: 20px;
    padding-right:10px;
    gap: 1rem;
    justify-content: space-between;
    align-items: flex-start;
    flex-shrink: 0;
}

footer .linksag{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 0;
    font-size: .6875em;
    font-weight: 600;
}

footer .container>.flexcol:nth-child(1)>:nth-child(2){
    margin: 32px 0;
    gap: 1.25rem;
}

footer .container>.flexcol:nth-child(1)>:nth-child(2)>.flexcol>.flexcol{
    gap: 1rem;
}


@media screen and (min-width: 1180px) {

    .container {
        width: 1160px;
        margin: auto;
    }

    nav img {
        width: 90px;
    }

    .phoneul li:nth-child(1),
    .phoneul li:nth-child(5) {
        display: inherit;
    }

    .compul {
        display: flex;

    }

    .phoneul li:nth-child(4) {
        display: none;
    }

    .phoneul li:nth-child(3),
    .phoneul li:nth-child(5) {
        border: none;
    }

    .phoneul button {
        padding: 12px;
        border-radius: 10px;
        border: none;
        background-color: var(--mavi);
        color: #fff;
    }

    .phoneul button:hover {
        background-color: #134fc2;
    }

    nav .left {
        display: flex;
        align-items: center;
        gap: 30px;
    }

    .left ul li {
        padding: 0 12px;
        font-weight: 400;
        font-family: Inter;
    }

    .left ul li:hover {
        color: var(--mavi);
    }

    .cardsall {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 16px;
    }

    .cardsall {
        display: grid;
        grid-template-columns: repeat(3, auto);
        gap: 16px;
    }

    .cards {
        display: contents;
    }

    #maincard {
        grid-column: span 2;
        grid-row: 1;
    }

    .card:first-child {
        grid-column: 3;
        grid-row: 1;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .card:not(:first-child) {
        grid-row: 2;
    }

    .main2 .container .flexcol {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(5, auto);
        column-gap: 40px;
        align-items: start;
    }

    .main2 .flexcol .flexrow:nth-child(6) {
        grid-column: 2;
        grid-row: 1 / span 5;
        align-self: center;
    }


    #main3 .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 64px;
        align-items: center;
    }

    #main3 .container>.flexrow:first-child {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    #main3 .container>.flexrow:last-child {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    #main3 .container>.flexrow:last-child>.flexrow:first-child {
        display: flex;
        gap: 16px;
    }

    #main3 .container>.flexrow:last-child>.flexrow:first-child input {
        width: 100%;
    }

    #main3 .container>.flexrow:last-child>.flexrow:last-child {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    #main3 button {
        background-color: var(--mavi);
        color: #fff;
        font-weight: 500;
    }

    #main4 .container .flexrow {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    #main4 .container .flexrow>.flexrow:nth-child(1)>.flexrow:nth-child(1)>.flexrow:nth-child(1) {
        font-size: 4em;
        line-height: 72px;
        letter-spacing: .025em;
        font-weight: 500;
        text-align: start;
    }

    #main4 .container .flexrow>.flexrow:nth-child(1)>.flexrow:nth-child(1)>.flexrow:nth-child(2) {
        text-align: start;
        font-size: 1.125em;
        line-height: 28px;
    }

    #main4 .container .flexrow>.flexrow:nth-child(1) a {
        font-size: 1em;
    }

    .main53 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;
        align-items: start;
    }

    .main53>.flexrow:nth-child(1) {
        grid-column: 1;
    }

    .main53>.flexrow:nth-child(2) {
        grid-column: 2;
    }

    .main54>.flexrow:nth-child(1) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        align-items: start;
    }

    .main54>.flexrow:nth-child(1)>.flexrow:nth-child(1) {
        grid-column: 1;
    }

    .main54>.flexrow:nth-child(1)>.flexrow:nth-child(2) {
        grid-column: 2;
    }


    #main6 .grid-container {
        display: grid;
        margin: 40px 0;
        grid-template-columns: repeat(12, 1fr);
        gap: 16px;
    }

    #main6 .item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: #0A0B0D0A;
        border-radius: 24px;
        gap: 16px;
        width: 100%;
        padding: 24px;
    }

    #main6 .item1 {
        grid-area: initial;
    }

    #main6 .item1,
    #main6 .item2,
    #main6 .item3 {
        min-height: 170px;
        grid-column: span 4;
        height: 100%;
    }

    #main6 .item4,
    #main6 .item5,
    #main6 .item6,
    #main6 .item7 {
        min-height: 170px;
        grid-column: span 3;
        height: 100%;
    }

    #main6 i {
        color: var(--mavi);
        font-size: 2em;
    }

    #main6 p {
        color: #000;
        font-size: 1.125em;
        line-height: 28px;
        letter-spacing: 0;
        font-weight: 500;
    }

    #main7 .container>.flexrow.flexrow:nth-child(1)>.flexrow.flexrow:nth-child(2)>.flexrow.flexrow:nth-child(1) img,
    #main7 .container>.flexrow.flexrow:nth-child(1)>.flexrow.flexrow:nth-child(2)>.flexrow.flexrow:nth-child(2) p {
        display: inherit;
    }

    #main7 .container>.flexrow.flexrow:nth-child(1)>.flexrow.flexrow:nth-child(2)>.flexrow.flexrow:nth-child(1) img {
        width: 148px;
        height: 148px;
        max-width: 100%;
    }

    #main7 .container>.flexrow:nth-child(1) {
        display: flex;
        flex-direction: column;
        padding-top: 80px;
        padding-bottom: 96px;
        gap: 48px;
    }

    #main7 .container>.flexrow:nth-child(1)>.flexrow.flexrow:nth-child(1) {
        display: flex;
        flex-direction: column;
        gap: 16px;
        align-items: flex-start;
    }

    #main7 .container>.flexrow:nth-child(1)>.flexrow:nth-child(1)>.flexrow:nth-child(1) {
        font-size: 3em;
        font-weight: 500;
    }

    #main7 .container>.flexrow:nth-child(1)>.flexrow:nth-child(1)>.flexrow:nth-child(2) {
        font-size: 1em;
        font-weight: 500;
    }

    #main7 .container>.flexrow:nth-child(1)>.flexrow:nth-child(2) {
        display: flex;
        gap: 32px;
        align-items: center;
    }

    #main7 .container>.flexrow:nth-child(1)>.flexrow:nth-child(2)>.flexrow:nth-child(1) {
        padding: 16px;
        background-color: #fff;
        border-radius: 24px;
    }

    #main7 .container>.flexrow:nth-child(1)>.flexrow:nth-child(2)>.flexrow:nth-child(2) {
        width: 200px;
    }


    #main7 .container>.flexrow:nth-child(1)>.flexrow:nth-child(2)>.flexrow:nth-child(2) p {
        color: #FFFFFFB8;
    }

    #main7 .container>.flexrow:nth-child(1)>.flexrow:nth-child(2)>.flexrow:nth-child(2) .flexrow {
        display: flex;
        gap: 16px;
        margin: 16px 0;
    }

    #main7 .container>.flexrow:nth-child(1)>.flexrow:nth-child(2)>.flexrow:nth-child(2) i {
        padding: 0 !important;
        background-color: inherit !important;
        font-size: 1.5em;
    }

    #main7 .container>.flexrow:nth-child(2) {
        margin-top: -50px;
        margin-left: 50px;
    }

    #main7 .container {
        display: flex;
        flex-direction: row;
        gap: 16px;
    }


    .main81 .flexcol .flexcol:nth-child(3) * {
        display: inherit;
    }

    .main81 img {
        height: 223px !important;
    }

    #main8 .main81>.flexcol {
        display: grid;
        grid-template-columns: 2fr 2fr 1fr;
        gap: 16px;
        align-items: stretch;
        margin: 40px 0;
    }

    .main81 .flexrow h3,
    .main82 h3 {
        font-size: 3em;
    }

    #main8 .main82>.flexcol {
        display: grid !important;
        grid-template-columns: repeat(3, 1fr);
        gap: 24px;
        align-items: stretch;
    }

    #main8 .main82>.flexcol>.flexrow {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    #main9 .container>.flexcol {
        display: grid !important;
        grid-template-columns: 1fr 1fr;
    }

    #main9 .container>.flexcol>.flexcol {
        align-items: flex-start;
    }




}